/* Style untuk Layout Keranjang Responsif */
.cart-items-container {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

/* CSS untuk Modal Gambar */
#imageModal .modal-body {
    text-align: center;
}

#imageModal .modal-body img {
    max-width: 100%;
    height: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-image {
    width: 300px;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.cart-item-price {
    color: #888;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.cart-item-quantity button {
    margin: 0 5px;
}

.cart-item-subtotal {
    font-weight: bold;
    margin-left: auto;
    margin-right: 10px;
}

.remove-from-cart {
    margin-left: auto;
}

.cart-total {
    padding: 10px;
    text-align: right;
    font-size: 1.2em;
    border-top: 1px solid #eee;
}

.cart-total strong {
    font-weight: bold;
}

/* Media query untuk mobile */
@media (max-width: 768px) {
    .modal-dialog {
        max-width: 95%;
        margin: 10px auto;
    }

    .modal-header-custom {
        padding: 0.75rem;
    }

    .modal-header-custom h5 {
        font-size: 1.2rem;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item-image {
        width: 300px;
        height: auto;
        margin-bottom: 5px;
    }

    .cart-item-details {
        width: 100%;
    }

    .cart-item-subtotal {
        margin-left: 0;
    }

    .remove-from-cart {
        margin-left: 0;
        margin-top: 5px;
    }
}

/* Style untuk keranjang (Bubble) */
#cart {
    position: fixed;
    top: 650px;
    right: 20px;
    background-color: #007bff;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    z-index: 1000;
}

#cart:hover {
    background-color: #0056b3;
}

#cart i {
    font-size: 24px;
}

#cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    z-index: 1;
}

/* Style untuk Header Modal Keranjang */
.modal-header-custom {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 1rem;
}

.modal-header-custom h5 {
    margin-bottom: 0;
    font-weight: bold;
}